{% extends "base.html" %} 

{% block content %}
<html>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><strong>!!! NOVA TERETANA U GRADU !!!</strong></h1>
      </div>	  
      <p>
		<h3>Učlanite se još danas, okrenite novu stranicu u svom životu.
		</h3>
        <img src="/static/img/misici.jpg" alt="misici-muskarac" class="center">
		<h4>Besplatni probni trening uz najbolje i kvalificirane trenere.
		</h4>
      </p>
    </div>
  </body>
</html>
{% endblock %}