{% extends "base.html" %}

{% block content %}
<html>
<body>
	<div class="container">
		<div class="page-header">
            <h2><strong>Osobni treneri</strong></h2>
		</div>
        <p>Kod nas možete dobiti pomoć vrhunskih stručnjaka fizičke spreme. Neki od njih su:
        </p>
        <p>DwayneJohnson <img src="/static/img/dwayneJohnson.jpg" alt="Dwayne Johnson" width="500" height="600"></p>
        <p>Asafa Powell <img src="/static/img/asafaPowell.jpg" alt="Asafa Powell" width="500" height="600"></p>
        <p></p>
    </div>
</body>
</html>
{% endblock %}