{% extends "base.html" %}

{% block content %}
<html>
<body>
<div class="container">
     <div class="page-header">
        <h2><strong>Uredite informacije o korisniku</strong></h2>
    </div>
    <p>Upisi se vrše svakim radnim danom, a možete se upisati i online.</p>

        <form action="/updateUser" method="get">
            <div class="form-group">
                <p>ID:</p>
                <p><input type="text" name="id" value="{{ users[0] }}"/></p>
                <p>Username:</p>
                <p><input type="text" name="username" value="{{ users[1] }}"/></p>
                <p>Email:</p>
                <p><input type="text" name="email" value="{{ users[2] }}"/></p>
                <p>Visina:</p>
                <p><input type="text" name="visina" value="{{ users[3] }}"/></p>
                <p>Težina:</p>
                <p><input type="text" name="tezina" value="{{ users[4] }}"/></p>
                <p>Godine:</p>
                <p><input type="text" name="godine" value="{{ users[5] }}"/></p>
            </div>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </form>

</div>
</body>
</html>
{% endblock %}